<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Corbin Foster">

    <title>Flight Delays</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="static/js/bower_components/moment/min/moment.min.js"></script>

    <!-- Datepicker JS -->
    <script type="text/javascript" src="static/js/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="static/js/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <!-- <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script> -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Flight Delay Predictor</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Intro -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <img src="static/images/plane.png" width="80" height="80"> -->
                <h1>SeaTac Flight Delay Predictor</h1>
                <p class="lead"></p>
            </div>
            <div class="col-lg-12 text-center">
              <button type="submit" id="btnSubmit" class="btn btn-secondary"> Test Random Datapoint</button>
              <button type="submit" id="btnPicker" class="btn btn-secondary"> Choose Flight Details</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Random Datapoint Results -->
    <div class="container" id="results">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 text-right">
              <h3>Airline: </h3>
              <h3>Destination: </h3>
              <h3>Date: </h3>
              <h3>Time: </h3>
              <h3>Actual Delay: </h3>
              <h3>Model Prediction: </h3>
              <h3>Model Percentage: </h3>
              <h3>Model Performance: </h3>
            </div>
            <div class="col-md-6 text-left">
              <h3 id=airline_result></h3>
              <h3 id=destination></h3>
              <h3 id=date_result></h3>
              <h3 id=time_result></h3>
              <h3 id=actual_delay></h3>
              <h3 id=prediction></h3>
              <h3 id=percentage></h3>
              <h3 id=performance></h3>
            </div>
          </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Custom Datapoint Results -->
    <div class="container" id="picker" style="margin-top: 20px">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="col-md-6">
                <label for="origin">Origin</label>
                <select name="origin" class="form-control">
                  <option>SEA</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="dest">Destination</label>
                <select name="dest" class="form-control">
                  <option>SFO</option>
                  <option>ANC</option>
                </select>
              </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-6 col-md-offset-3">
            <div class="col-md-12">
              <label for="airline">Airline</label>
              <select name="airline" class="form-control">
                <option>Alaska</option>
                <option>Delta</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-offset-3 col-md-6">
            <div class="col-md-12">
              <label for="date">Date/Time</label>
              <div class='input-group date' id="datetimepicker">

                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker').datetimepicker({
                        sideBySide: true
                    });
                });
            </script>
          </div>
        </div>

      <div class="container">
        <div class="row">
          <div class="span6 text-center" style="margin-top: 20px">
            <button type="submit" id="checkflight" class="btn btn-primary">Get Results</button>
          </div>
        </div>
      </div>
      <div class="container" id="flight_results">
        <div class="row">
          <div class="span6 text-center" style="margin-top: 5px">
            <p class="lead">The expected delay for this flight is: </p>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery Version 1.11.1 -->
    <!-- <script src="static/js/jquery.js"></script> -->


    <!-- Custom javascript -->
    <script src="static/js/app.js"></script>

</body>

</html>
